 <div class="row">
  <div class="col-md-8 offset-md-1">
    <h2>Book</h2>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%=link_to user_path(user.id) do%>
            　<%=attachment_image_tag user, :image%>
            <%end%>
          </td>
          <td>
            <%=link_to @book.title show_book_path(book.id) do%>
          </td>
          <td>
            <%=@book.opinion%>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>