<h1>
  welcome to <strong>Bookers</strong> !!
</h1>

<p>
  In <strong>Bookers</strong> ,
</p>

<P>
  you can share and exchange your opinions , inpressions , and emotions
</P>

<p>
  about various books!
</p>

<li>
  <%= link_to "login", new_user_session_path %>
</li>

<li>
  <%= link_to "sign up", new_user_registration_path %>
</li>